.container {
  height: 110vh;

  background: radial-gradient(
    119.22% 71.14% at 54.63% 49.96%,
    rgba(242, 186, 201, 0.29) 0%,
    #f3f4f7 44.41%,
    #f3f4f7 100%
  );
  padding: 0 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container > div > h1 {
  color: var(--iyd-black, #131112);
  font-family: Lexend Deca;
  font-size: 155px;
  font-style: normal;
  font-weight: 500;
  line-height: 120px; /* 68.571% */
  letter-spacing: -8.75px;
  position: relative;
  z-index: 3;
}

.container > div > h1 > span:nth-child(1) {
  color: var(--iyd-black, #131112);
  font-family: Lexend Deca;
  font-size: 105px;
  font-style: normal;
  font-weight: 300;
  line-height: 120px;
  letter-spacing: -5.75px;
  display: block;
}

.container > div > h1 > span:nth-child(2) {
  color: var(--primary-green, #00af54);
  font-family: Lexend Deca;
  font-size: 105px;
  font-style: normal;
  font-weight: 500;
  line-height: 120px;
  letter-spacing: -5.75px;
  display: block;
}

.container > div > p {
  color: var(--iyd-black, #131112);
  text-align: justify;
  font-family: Lexend Deca;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  width: 50%;
  margin-top: 70px;
}

.container > div > .buttonContainer {
  width: 367px;
  margin-top: 62px;
}

.container > img {
  position: absolute;
  right: -0px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 774.517px;
  height: 581.951px;
  z-index: 0;
}

.arrowScribble {
  position: absolute;
  top: 0;
  right: 20px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
    min-height: 100vh;
  }

  .container > img {
    position: static;
    z-index: 3;
    width: 100%;
  }

  .container > div:nth-child(1) {
    order: 1;
  }

  .arrowScribble {
    position: absolute;
    top: 0;
    right: -180px;
    z-index: 0;
    display: none;
  }

  .container > div > h1 {
    font-size: 68px;
    line-height: 46.667px; /* 68.627% */
    letter-spacing: -3.4px;
  }

  .container > div > h1 > span:nth-child(1) {
    font-size: 44px;
    font-weight: 300;
    line-height: 46.667px;
    letter-spacing: -2.2px;
  }

  .container > div > h1 > span:nth-child(2) {
    font-size: 44px;
    line-height: 46.667px;
    letter-spacing: -2.2px;
  }

  .container > div > p {
    color: var(--iyd-black, #131112);
    text-align: justify;
    width: 100%;
    font-size: 16px;
    letter-spacing: -0.8px;
    margin-top: 32px;
    width: 100%;
  }

  .container > div > .buttonContainer {
    width: 162px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
    min-height: 90vh;
  }

  .container > img {
    position: static;
    z-index: 3;
    width: 100%;
    height: 266.569px;
  }

  .container > div:nth-child(1) {
    order: 1;
  }

  .arrowScribble {
    position: absolute;
    top: 0;
    right: -180px;
    z-index: 0;
    display: none;
  }

  .container > div > h1 {
    font-size: 68px;
    line-height: 46.667px; /* 68.627% */
    letter-spacing: -3.4px;
  }

  .container > div > h1 > span:nth-child(1) {
    font-size: 44px;
    font-weight: 300;
    line-height: 46.667px;
    letter-spacing: -2.2px;
  }

  .container > div > h1 > span:nth-child(2) {
    font-size: 44px;
    line-height: 46.667px;
    letter-spacing: -2.2px;
  }

  .container > div > p {
    color: var(--iyd-black, #131112);
    text-align: justify;
    width: 100%;
    font-size: 16px;
    letter-spacing: -0.8px;
    margin-top: 32px;
  }

  .container > div > .buttonContainer {
    width: 162px;
    margin-top: 20px;
  }
}
